boto==2.49.0
boto3==1.9.228
botocore==1.12.228
chardet==3.0.4
cycler==0.10.0
decorator==4.4.0
docutils==0.15.2
future==0.17.1
gensim==3.8.0
hyperopt==0.1.2
idna==2.8
jmespath==0.9.4
Keras==2.2.5
kiwisolver==1.1.0
matplotlib==3.1.1
networkx==2.3
nltk==3.6.5
Pillow==8.3.2
pymagnitude==0.1.120
pymongo==3.9.0
pyparsing==2.4.2
python-dateutil==2.8.0
pytorch-pretrained-bert==0.6.2
PyYAML==5.4
regex==2019.8.19
requests==2.31.0
s3transfer==0.2.1
smart-open==1.8.4
tensorflow-hub==0.6.0
torch==1.2.0
torchvision==0.4.0
tqdm==4.35.0
urllib3==1.26.5
